h1 {
  font-size: 160%;
  color: #594b08;
  text-align: center;
  margin-bottom: 40px
}

h2 {
  font-size: 140%;
  color: darkred;
  font-style: italic;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

#box {
  background-color: blue;
  padding: 10px;
  border: 5px solid black;
  margin: 40px;
  width: 400px;
  box-sizing: border-box;
}

#content {
  background-color: #90EE90
}

ol li:nth-child(odd) {
  background-color: lightslategrey;
  
}

ol li:hover {
  background-color: green;
  cursor: pointer;
}